<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Stadium</th>
        <th scope="col">Owner</th>
        <th scope="col">Fondation</th>
        <th scope="col">Actions</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elt of teams">
        <th scope="row">{{elt.name}}</th>
        <th scope="row">{{elt.stadium}}</th>
        <th scope="row">{{elt.owner}}</th>
        <th scope="row">{{elt.fondation}}</th>
        <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="submit" (click)="displayTeams(elt._id)">Display</button>
            <button class="dropdown-item" type="submit" (click)="editTeams(elt._id)">Edit</button>
            <button class="dropdown-item" type="submit" (click)="deleteTeams(elt._id)">Delete</button>

          </div>
        </div>
      </td>
      </tr>
     
    </tbody>
  </table>
  
