<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">SignUp</h1>
      </div>
    </div>
  </div>
</div>
<div class="site-wrap container">

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="signupForm">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="firstName" placeholder="FirstName">
            </div>
            <div *ngIf="signupForm.controls['firstName'].invalid &&
                  (signupForm.controls['firstName'].touched ||
                  signupForm.controls['firstName'].dirty)">
              <div *ngIf="signupForm.controls['firstName'].errors.required" style="color: red;">
                First Name is required
              </div>
              <div *ngIf="signupForm.controls['firstName'].errors.minlength" style="color: red;">
                First Name must have at least 3 chars
              </div>

            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="lastName" placeholder="LastName">
            </div>
            <div *ngIf="signupForm.controls['lastName'].invalid &&
                  (signupForm.controls['lastName'].touched ||
                  signupForm.controls['lastName'].dirty)">
              <div *ngIf="signupForm.controls['lastName'].errors.required" style="color: red;">
                Last Name is required
              </div>
              <div *ngIf="signupForm.controls['lastName'].errors.minlength" style="color: red;">
                Last Name must have at least 3 chars
              </div>

            </div>

            <div class="form-group">
              <input type="text" class="form-control" formControlName="email" placeholder="Email*">
            </div>
            <div *ngIf="signupForm.controls['email'].invalid &&
                  (signupForm.controls['email'].touched ||
                  signupForm.controls['email'].dirty)">
              <div *ngIf="signupForm.controls['email'].errors.required" style="color: red;">
                Email is required
              </div>
              <div *ngIf="signupForm.controls['email'].errors.email" style="color: red;">
                Email must have chars
              </div>

            </div>
            <span style="color: red;">{{msgError}}</span>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="password" placeholder="password*">
            </div>
            <div *ngIf="signupForm.controls['password'].invalid &&
                  (signupForm.controls['password'].touched ||
                  signupForm.controls['password'].dirty)">
              <div *ngIf="signupForm.controls['password'].errors.required" style="color: red;">
                Password is required
              </div>
              <div *ngIf="signupForm.controls['password'].errors.minlength" style="color: red;">
                Password must have at least 3 chars
              </div>
              <div *ngIf="signupForm.controls['password'].errors.maxlength" style="color: red;">
                Password must have at most 12 chars
              </div>

            </div>
            <div class="form-group" style="visibility: hidden;">
              <input type="file" class="form-control" #filePicker (change)="onImageSelected($event)" >
            </div>
            <div class="form-group text-center" >
              <button class="btn btn-info" (click)="filePicker.click()">Select your avatar</button>
            </div>
            <div class="text-center">
              <img [src] ="imagePreview" alt="" width="200px">

            </div>
            <div class="form-group ">
              <input type="submit" class="btn btn-primary py-3 px-5" [disabled]="signupForm.invalid" (click)="signup()"
                value="SignUp">
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>